@using Stanford_ShopOnline.Models.EF
@model  IEnumerable<Stanford_ShopOnline.Models.EF.Category>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "index";

    var productNewList = ViewBag.productNewList as List<Product>;
    var bannerList = ViewBag.bannerList as List<Banner>;
}

@section Banner
{
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="banner_slider owl-carousel">
                        @foreach (var banner in bannerList)
                        {
                            <div class="single_banner_slider">
                                <div class="row">
                                    <div class="col-lg-5 col-md-8">
                                        <div class="banner_text">
                                            <div class="banner_text_iner">
                                                <h1>
                                                    @banner.Title
                                                </h1>
                                                <p>
                                                    @banner.Summary
                                                </p>
                                                <a href="#" class="btn_2">Mua ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="banner_img d-none d-lg-block">
                                        <img src="@banner.ImageUrl" alt="">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="slider-counter"></div>
                </div>
            </div>
        </div>
    </section>
}

<!-- feature_part start-->
<section class="feature_part padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>Danh mục nổi bật</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3>@item.Name</h3>
                        <a href="#" class="feature_btn">Khám phá ngay <i class="fas fa-play"></i></a>
                        <img src="@item.ImageUrl" alt="">
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- feature_part end-->
<!-- product_list start-->
<section class="product_list section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Sản phẩm mới <span>shop</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product_list_slider owl-carousel">
                    <div class="single_product_list_slider">
                        <div class="row align-items-center justify-content-between">
                            @for (int i = 0; i < productNewList.Count / 2; i++)
                            {
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <a href="@Url.Action("detail", "ProductDetail", new { id = productNewList[i].Id })">
                                            <img src="@productNewList[i].ImageUrl" alt="">
                                        </a>
                                        <div class="single_product_text">
                                            <h4>@productNewList[i].Name</h4>
                                            <h3>@String.Format("{0:0,0}", Convert.ToDouble(productNewList[i].Price))</h3>
                                            <a class="add_cart" data-id="@productNewList[i].Id">+ thêm giỏ hàng<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="single_product_list_slider">
                        <div class="row align-items-center justify-content-between">
                            @for (int i = productNewList.Count / 2; i < productNewList.Count; i++)
                            {
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <a href="@Url.Action("detail", "ProductDetail", new { id = productNewList[i].Id})">
                                            <img src="@productNewList[i].ImageUrl" alt="">
                                        </a>
                                        <div class="single_product_text">
                                            <h4>@productNewList[i].Name</h4>
                                            <h3>@String.Format("{0:0,0}", Convert.ToDouble(productNewList[i].Price))</h3>
                                            <a class="add_cart" data-id="@productNewList[i].Id">+ thêm giỏ hàng<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product_list part start-->

<!-- product_list part start-->
@Html.Action("ProductBestSale", "Home")
<!-- product_list part end-->