@model List<Stanford_ShopOnline.Models.EF.Category>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "list";
    var productList = ViewBag.productList as List<Stanford_ShopOnline.Models.EF.Product>;
}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Danh mục sản phẩm</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Category Product Area =================-->
<section class="cat_product_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Bộ sưu tập</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li>
                                    <a href="@Url.Action("list", "ProductCategory")">Tất cả</a>
                                </li>
                                @foreach (var item in Model)
                                {
                                    <li>
                                        <a href="@Url.Action("list", "ProductCategory",new { categoryId = item.Id })">@item.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row align-items-center latest_product_inner">

                    @foreach (var product in productList)
                    {
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="@product.ImageUrl" alt="">
                                <div class="single_product_text">
                                    <h4>@product.Name</h4>
                                    <h3>@String.Format("{0:0,0}", Convert.ToDouble(product.Price))</h3>
                                    <a data-id="@product.Id" class="add_cart">+ thêm giỏ hàng<i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Category Product Area =================-->
<!-- product_list part start-->
@Html.Action("ProductBestSale", "Home")
<!-- product_list part end-->