@using System.Globalization
@model IEnumerable<Stanford_ShopOnline.Areas.Admin.Models.OrderViewModel>

@{
    ViewBag.Title = "Order";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
$(document).ready(function () {
    //toggle icon
    $("#card-header").click(function () {
        $("#card-body").slideToggle();
        $("#card-header-icon").toggleClass("rotate");
    })

    //Reset form
    $("#reset-form-button").click(function () {
        $("#keyword").val("");
        $("#Customer_Id").val("");
    })
})
</script>

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">Danh sách đơn hàng</h3>
        @using (Html.BeginForm("list", "Order", FormMethod.Get))
        {
            <div class="card">
                <div class="card-header cursor-pointer" id="card-header">
                    Công cụ lọc&nbsp;
                    <i class="fa fa-caret-down" id="card-header-icon" aria-hidden="true"></i>
                </div>
                <div class="card-body" id="card-body">
                    <form action="" method="post" novalidate="novalidate">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group has-success">
                                    <label class="form-control-label form-control-label-sm" for="dateFrom">Từ ngày</label>
                                    <input class="form-control form-control-sm" type="date" id="dateFrom" name="dateFrom" value="@ViewBag.dateFrom">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group has-success">
                                    <label class="form-control-label form-control-label-sm" for="dateFrom">Đến ngày</label>
                                    <input class="form-control form-control-sm" type="date" id="dateTo" name="dateTo" value="@ViewBag.dateTo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label form-control-label-sm" for="Customer_Id">Khách hàng</label>
                                    @Html.DropDownList("Customer_Id", (SelectList)ViewBag.customerList, "Tất cả khách hàng", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <button id="payment-button" type="submit" class="btn btn-sm btn-info btn-block mt-2">
                                    <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;
                                    <span id="payment-button-amount">Lọc</span>
                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                </button>
                            </div>
                            <div class="col-12 col-sm-6">
                                <button id="reset-form-button" type="submit" class="btn btn-sm btn-dark btn-block mt-2">
                                    <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;
                                    <span id="payment-button-amount">Đặt lại</span>
                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }

        <div class="table-responsive table-responsive-data2 table-scoll">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách</th>
                        <th>Thành tiền</th>
                        <th>Ngày tạo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-shadow">
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.CustomerName
                            </td>
                            <td>
                                @String.Format("{0:n0}", item.TotalMoney)
                            </td>
                            <td>

                                @Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                <div class="table-data-feature">
                                    @*<a href=@Url.Action("update", "Order", new { id = item.Id }) class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </a>*@
                                    <a href=@Url.Action("remove", "Order", new { id = item.Id }) class="item" onclick="return confirm('Bạn có chắc chắn muốn xóa không ?')" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <i class="zmdi zmdi-delete"></i>
                                    </a>
                                    <button type="button" class="item" data-placement="top" data-toggle="modal" onclick="$(document).ready(function () { handleShowModalOrder(@item.Id, @item.TotalMoney); })" data-target="#modalCenter">
                                        <i data-toggle="tooltip" title="View"  class="fa fa-eye"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>

